

body{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:5rem;
  
  
}
.container{
    width:18rem;
    height:15rem;
    padding:1rem;
    margin-top:1rem;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    
}

h2{
    margin-top:.3rem;
    margin-bottom:1rem;
}

.button-box{
    display:flex;
    gap:1rem;
}
button{
    padding:.8rem;
    background:grey;
    color:white;
    border-radius:.6rem;
    cursor:pointer;
    font-size:1rem;
    font-weight:bold;
}

